@{
    ViewBag.Title = "Payment Success";
}
<div class="container">
    <div class="py-5 text-center">
        <h3>@ViewBag.Title</h3>
    </div>

    <div id="EmptyDataMsg" class="alert alert-info">
        <strong>Thank you!</strong> We are processing your order. Let's start shopping again.
    </div>
</div>
