@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Admin Login</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/SiteAdminSignin.css" rel="stylesheet" type="text/css" />
</head>

<body class="text-center">
    @using (Html.BeginForm("Login", "Admin", FormMethod.Post, new { @class = "form-signin" }))
    {
        @Html.AntiForgeryToken()
        <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <label for="Email" class="sr-only">Email address</label>
        <input type="email" id="Email" name="Email" class="form-control" placeholder="Email address" required autofocus>
        <label for="Password" class="sr-only">Password</label>
        <input type="password" id="Password" name="Password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <p class="mt-5 mb-3 text-muted">&copy; @DateTime.Now.Year - E-commerce</p>
    }
</body>
</html>
